.cta-button {
  background-color: #23b064;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #1e8c4f;
}

.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 60px 0;
}

@media screen and (max-width: 992px) {
  section {
    padding: 44px 0;
  }
}

@media screen and (max-width: 544px) {
  section {
    padding: 32px 0;
  }
}

